@import url('https://fonts.googleapis.com/css?family=Nunito');

@font-face {
	font-family: 'Gloria';
	src: url('../fonts/gloria.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/********** Main Page Configuration **********/
* {
	font-family: 'Nunito';
}

html,body
{
	overflow-x: hidden;
}

a:link {
	text-decoration: none;
	color:white;
}

a:visited {
	text-decoration: none;
	color:white;
}

.first_letter {
	font-family: 'Gloria';
}

/********** Header ***********/
#header {
	height: 100px;
	top: 5px;
	background-color: #F47D1F;
	display: flex;
	flex-direction: row;
	min-width: 800px;
}

#tabs {
	display: flex;
	width: 50%;
}

.tab {
	font-size: 22px;
	font-weight: bold;
	color: white;
	border-style: none;
	height: 100px;
	width:180px;
	padding-left: 5%;
	padding-right: 5%;
	width: 200px;
	background-color: #F47D1F;
	position: relative;
	left:15%;
}

/* Small logo at top-left */
.tab_logo {
	color: white;
	border-style: none;
	height: 58px;
	position: relative;
	top: 5px;
	left:2px;
}

/* White circle behind logo */
#logo_circle {
	height:70px;
	width:70px;
	border-radius: 50%;
	background-color: white;
	z-index:2;
	margin-top: 15px;
	left:25px;
	position:absolute;
}

/* search bar which is currently hidden */
#search {
	display: flex;
	position: relative;
	width: 250px;
	height: 30px;
	top: 34px;
	left: 230px;
	margin-right:150px;
}

.searchbox {
	width:200px;
	font-weight: 500;
	color:#1E4389;
	font-size: 22px;
}

/* account icon which is hidden right now */
#account {
	position: relative;
	display: flex;
	width: 200px;
	height: 60px;
	padding-top:18px;
	left:100px;
}



#sign-up p {
	padding-top: 0px;
	margin-top: 0px;
}

/* underlines active page */
.underline {
	background-color: white;
	width: 70%;
	margin:auto;
	height:3px;
}

/* The bag and the notification inside it */
#notification {
	position: relative;
	left:70px;
	font-size: 20px;
	font-weight: bold;
	color: white;
	cursor: pointer;
}

#bag {
	position:relative;
	display:flex;
	width:100px;
	left:470px;
	top:18px;
	margin-right: 90px;
}

#bag_icon {
	width:70px;
	height:55px;
	margin-left: 30px;
}

/* filler popcorn up top */
.header_popcorn {
	height:90px;
	width:90px;
	display:flex;
	margin-left: 450px;
}


/********** Icons **********/
.icon {
	position: relative;
	width: 60px;
}

.search_icon {
	position:relative;
	width: 35px;
	padding-right: 15px;
}

/******** Contact *********/
#contact {
	height: 500px;
	background-color: #3C9BD5;
	position: relative;
	padding-bottom: 50px;
}

#email {
	padding-left: 20px;
	width: 380px;
	height: 30px;
	border-style: none;
	border-radius: 2px;
	margin-top: 40px;
}

#subscribe {
	position: relative;
	bottom: -200px;
	margin: 0 auto;
	width:520px;
	display: flex;
}

input[type=submit] {
	background-color: #3C9BD5;
	color: white;
	border:none;
	cursor: pointer;
	font-size:18px;
	font-weight: bold;
}

#subscribe h2 {
	position: relative;
	bottom: 20px;
	right: 25px;
	color: white;
}

#lbl-email {
	position: relative;
	width: 50px;
	height: 20px;
	right: 60px;
	top:4px;
	background-color: white;
}

#lbl-email h3 {
	color: #F47D1F;
	font-style: italic;
	position: relative;
	bottom: 18px;
}

#footer {
	position: relative;
	top: 250px;
	display: flex;
	width: 475px;
	height: 100px;
	margin: auto;
	justify-content: space-between;
}

#footer p {
	margin-top: 0px;
	font-size: 20px;
	font-weight: bold;
	color: white;
}

.footer-tab {
	text-align: center;
}

#terms {
	position: relative;
	top:300px;
	margin: auto;
	display: flex;
	text-align: center;
	left:48%;
	font-size:20px;
	font-weight: bold;
}

/******** Sign-up popup **********/
#sign-up {
	cursor:pointer;
}

#sign-up-popup {
	width:400px;
	height: 500px;
	background-color: white;
	transform: scale(0.8);
}

#sign-up-popup p{
	text-align: center;
	font-size: 48px;
	font-weight: bold;
	color: #F47D1F;
	margin-top: 1%;
	margin-bottom:15%;
}

.sign-up-pop1 {
	height:130px;
	width:130px;
	position:absolute;
	left:3%;
}

.sign-up-pop2 {
	height:150px;
	width:150px;
	position:absolute;
	right:-3%;
}

.sign-up-pop3 {
	height:140px;
	width:140px;
	position: absolute;
	left:2%;
	bottom:20%;
}

.sign-up-pop4 {
	height:130px;
	width:130px;
	position:absolute;
	right:3%;
	bottom:23%;
}

.sign-up-icon {
	height:100px;
	position: relative;
	left:40%;
	margin-top:4%;
}

.sign-up-lines {
	width:100%;
	height:20px;
}

.sign-up-circle {
	height:150px;
	width:150px;
	border-radius: 50%;
	background-color: white;
	position:absolute;
	bottom:4%;
	left:32%;
}

.sign-up-logo {
	height:120px;
	left:7px;
	top:20px;
	position: relative;
}

/******** Feedback popup ********/

#feedback {
	cursor:pointer;
}

#feedback-popup {
	width: 700px;
	height: 950px;
	background-color: white;
	transform: scale(0.8);
}

#feedback-tag {
	height:30px;
	background-color: #F47D1F;
}

#feedback-content {
	height:890px;
}

#feedback-logo {
	height:150px;
	bottom:400px;
	position:absolute;
	margin-left:470px;
}

.feedback-header {
	color: #F47D1F;
	margin-left: 50px;
	font-size: 44px;

}

.feedback-question {
	margin-left: 50px;
	color: #1E4389;
	font-size: 26px;
	font-weight: bold;
	width:600px;
}

#feedback-form {
	font-size: 18px;
	font-weight: bold;
}

.feedback-message {
	width: 600px;
	height:150px;
	margin-left: 50px;
	border: 1px black solid;
}

.feedback-submit {
	background-color:#1E4389;
	border:none;
	color: white;
	font-weight: bold;
	width:100px;
	font-size:20px;
	padding: 5px 8px;
	text-align: center;
	cursor:pointer;
	position: relative;
	margin-left: 50px;
	margin-top: 40px;
}

.button_container {
		display: block;
		position:relative;
		padding-top:12px;
		cursor: pointer;
		padding-left: 32px;
		margin-left: 50px;
		-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
		user-select: none;
}

.button_container input {
    position: absolute;
    opacity: 0;
}

.checkmark {
    position: absolute;
    top: 10px;
		left:0;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
		border: 1px black solid;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.button_container input:checked ~ .checkmark:after {
    display: block;
}

.button_container .checkmark:after {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #1E4389;
}

.popup_visible #fadeandscale {
	transform: scale(1);
}

/********** Social Media **********/
#social-media {
	width: 100%;
	height:80px;
	bottom: 0px;
	padding-top: 30px;
}

#social-media-prompt {
	text-align: center;
	color: white;
	font-size:44px;
}

#social-container {
	position: absolute;
	right: 40%;
	margin-bottom:150px;
}

.social {
	width: 40px;
	height: 40px;
	padding-left:10px;
	padding-right:10px;
	padding-top: 25px;
	padding-bottom: 50px;
	justify-content: space-between;
}

/********** Social Splash *********/
#splash_social {
	height:1200px;
}

.blackboard {
	height:70%;
	width:80%;
	top: 30%;
	position:relative;
	left:10%;
}

.blackboard_text {
	position:absolute;
	color:white;
	font-weight:bold;
}

#blackboard_header {
	font-size: 72px;
	left: 37%;
	margin-top: 26%;
	z-index: 3;
}

#blackboard_subhead {
	margin-top: 35%;
	left:38%;
	font-size: 40px;
	z-index: 3;
}

#blackboard_body {
	margin-top: 40%;
	left:31%;
	font-size:30px;
	width:40%;
	z-index: 3;
	text-align: center;
}

#circle_social {
 background-color: white;
 width: 220px;
 height: 220px;
 border-radius: 50%;
 z-index: 3;
 margin-left: 42%;
 top:18%;
 position:absolute;
}

#splash_img_social {
	z-index: 2 ;
	height:200px;
	padding-top: 18px;
}

.fundraise_button {
	background-color: #F47D1F;
	border:none;
	border-radius:5px;
	color:white;
	font-weight: bold;
	font-size:20px;
	padding: 15px 32px;
	text-align: center;
	display:inline-block;
	margin:4px 2px;
	cursor:pointer;
	position:absolute;
	left:44%;
	margin-top:1100px;
}

/******** Animated popcorn *******/

#social_pop1 {
	right:105%;
	top:30%;
	z-index: -1;
}

#social_pop2 {
	left:105%;
	top:30%;
	z-index: -1;
}

#social_pop3 {
	left:55%;
	margin-top: 40%;
}

#social_pop4 {
	left:73%;
	margin-top: 2%;
}

#social_pop5 {
	left: 3%;
	margin-top:11%;
}

#social_pop5 {
	left: 3%;
	margin-top:11%;
}

#social_pop6 {
	left:24%;
	margin-top: 3%;
}

#blackboard_pop1 {
	margin-top: 40%;
}

#blackboard_pop2 {
	left:12%;
	margin-top: 20%;
}

#blackboard_pop3 {
	margin-top:14%;
}

#blackboard_pop4 {
	margin-top:42%;
	right:-2%;
}

.pop1 {
	width:150px;
	height:150px;
	position:absolute;
}

.pop2 {
	width: 170px;
	height: 200px;
	position: absolute;
}

.pop3 {
	height: 230px;
	width: 230px;
	position: absolute;
}

/********* Partner ***********/
#partner {
	height: 900px;
}

.partner_bag {
	height:400px;
	position: relative;
	float:right;
	padding-top:300px;
	right:60px;
}

.partner_box {
	height:750px;
	padding-top: 70px;
	float:right;
	position: absolute;
	left:860px;
}

.partner_text {
	position:absolute;
	color:#1E4389;
	margin-left: 50px;
	padding-top: 50px;
	font-weight: bold;
}

#partner_header {
	font-size: 60px;
}

#partner_subhead {
	font-size:50px;
	padding-top: 160px;
}

#partner_body {
	font-size:30px;
	padding-top: 280px;
	width:1000px;
}

.partner_button {
	background-color: #1E4389;
	border:none;
	border-radius:5px;
	color:white;
	font-weight: bold;
	font-size:20px;
	padding: 15px 32px;
	text-align: center;
	display:inline-block;
	margin:4px 2px;
	cursor:pointer;
	position:absolute;
	left:3.5%;
	margin-top:760px;
}

/********** Separators *********/

#separator1 {
	height: 2px;
	background-color:#F47D1F;
}

#separator2 {
	height: 2px;
	background-color:#1E4389;
}

#separator3 {
	height: 2px;
	background-color: #3C9BD5;
}

/********* Donate ***********/

#donate {
	height: 1600px;
}

.donate_text {
	position:absolute;
	color: #F47D1F;
	text-align: right;
	font-weight: bold;
}

#donate_header {
	font-size: 60px;
	margin-top: 100px;
	margin-left:74%;
}

#donate_subhead {
	font-size:50px;
	margin-left:63%;
	margin-top: 13%;
}

#donate_body {
	font-size:24px;
	margin-top: 350px;
	width: 800px;
	text-align: right;
	left:46%;
}

.donate_button {
	background-color: #F47D1F;
	border:none;
	color:white;
	font-weight: bold;
	font-size:20px;
	padding: 15px 32px;
	text-align: center;
	display:inline-block;
	margin:4px 2px;
	cursor:pointer;
	position:absolute;
	left:46%;
	margin-top:550px;
}

#donations-amount {
	position: absolute;
	float: left;
	justify-content: center;
	margin-top:28%;
	width:50%;
}

#donations-amount h1 {
	text-align: left;
	color:#3C9BD5;
	font-weight: bold;
	letter-spacing: 4px;
}

.donate-amount {
	position: relative;
	text-align: center;
	height: 100px;
	width: 70px;
	margin-left: 5px;
	margin-right: 5px;
	display:inline;
}

.amount-radio {
	position: relative;
	top: 40px;
	left:-70px;
	margin-bottom:30px;
}

.amount-button{
	background-color: #3C9BD5;
	border-style: none;
	border-radius: 5px;
	color: white;
	padding: 14px;
	font-size: 20px;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 5px;
}


#payment-options {
	text-align: center;
	position: absolute;
	margin-top:35%;
	left:65%;
}

#payment-options h3 {
	text-align:right;
	margin-left:20px;
	font-weight:bold;
}

#payment-type {
	position: absolute;
	width: 800px;
	margin-top:40%;
	left:21%;
}

.donate-payment {
	width: 150px;
	display:inline-block;
}

.donate-radio {
	position: relative;
	top: 15px;
	left: 55px;
	margin-bottom: 50px;
}

#donate-info {
	text-align: center;
	justify-content: space-between;
	position: relative;
	top:35%;
	left:42%;
	width:60%;
}

#card-info {
	text-align: center;
	justify-content: space-between;
	position: relative;
	width:800px;
	margin-top:45%;
	left:50%;
}

#card-wrapper {
	display: flex;
	justify-content: space-between;
	width: 500px;
	margin: auto;
}

.user-info {
	margin: 5px;
	font-size: 20px;
	color: black;
	font-weight: bold;
	width:386px;
	border: 1px solid black;
	padding-left:15px;
}

.info-other {
	width: 800px;
	height: 50px;
	text-align: center;
}

.info-other1 {
	width: 800px;
	height: 200px;
	text-align: center;
}


/********* Webkit Animation *********/

.tab {
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.1
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2016 Daniel Eden
 */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

	@-webkit-keyframes bounce {
	  from, 20%, 53%, 80%, to {
	    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	    -webkit-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0); }
	  40%, 43% {
	    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	    -webkit-transform: translate3d(0, -30px, 0);
	    transform: translate3d(0, -30px, 0); }
	  70% {
	    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	    -webkit-transform: translate3d(0, -15px, 0);
	    transform: translate3d(0, -15px, 0); }
	  90% {
	    -webkit-transform: translate3d(0, -4px, 0);
	    transform: translate3d(0, -4px, 0); } }

	@keyframes bounce {
	  from, 20%, 53%, 80%, to {
	    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	    -webkit-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0); }
	  40%, 43% {
	    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	    -webkit-transform: translate3d(0, -30px, 0);
	    transform: translate3d(0, -30px, 0); }
	  70% {
	    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	    -webkit-transform: translate3d(0, -15px, 0);
	    transform: translate3d(0, -15px, 0); }
	  90% {
	    -webkit-transform: translate3d(0, -4px, 0);
	    transform: translate3d(0, -4px, 0); } }

	.bounce {
	  -webkit-animation-name: bounce;
	  animation-name: bounce;
	  -webkit-transform-origin: center bottom;
	  -ms-transform-origin: center bottom;
	  transform-origin: center bottom; }

		/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
		@-webkit-keyframes pulse {
		  from {
		    -webkit-transform: scale3d(1, 1, 1);
		    transform: scale3d(1, 1, 1); }
		  50% {
		    -webkit-transform: scale3d(1.05, 1.05, 1.05);
		    transform: scale3d(1.05, 1.05, 1.05); }
		  to {
		    -webkit-transform: scale3d(1, 1, 1);
		    transform: scale3d(1, 1, 1); } }

		@keyframes pulse {
		  from {
		    -webkit-transform: scale3d(1, 1, 1);
		    transform: scale3d(1, 1, 1); }
		  50% {
		    -webkit-transform: scale3d(1.05, 1.05, 1.05);
		    transform: scale3d(1.05, 1.05, 1.05); }
		  to {
		    -webkit-transform: scale3d(1, 1, 1);
		    transform: scale3d(1, 1, 1); } }

		.pulse {
		  -webkit-animation-name: pulse;
		  animation-name: pulse; }
